OrderManagement/Service References/EcoSystemServices/EcoSystemServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EcoSystemServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IEcoSystemServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://202.205.84.114/EnvironmentServices_New/EcoSystemServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://202.205.84.114/EnvironmentServices_New/EcoSystemServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEcoSystemServices_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IEcoSystemServices_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IEcoSystemServices_Model_Invoke_InputMessage">
    <wsdl:part name="parameters" element="tns:Model_Invoke" />
  </wsdl:message>
  <wsdl:message name="IEcoSystemServices_Model_Invoke_OutputMessage">
    <wsdl:part name="parameters" element="tns:Model_InvokeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEcoSystemServices">
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IEcoSystemServices/HelloWorld" message="tns:IEcoSystemServices_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEcoSystemServices/HelloWorldResponse" message="tns:IEcoSystemServices_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Model_Invoke">
      <wsdl:input wsaw:Action="http://tempuri.org/IEcoSystemServices/Model_Invoke" message="tns:IEcoSystemServices_Model_Invoke_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEcoSystemServices/Model_InvokeResponse" message="tns:IEcoSystemServices_Model_Invoke_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IEcoSystemServices" type="tns:IEcoSystemServices">
    <wsp:PolicyReference URI="#WSHttpBinding_IEcoSystemServices_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/IEcoSystemServices/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Model_Invoke">
      <soap12:operation soapAction="http://tempuri.org/IEcoSystemServices/Model_Invoke" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EcoSystemServices">
    <wsdl:port name="WSHttpBinding_IEcoSystemServices" binding="tns:WSHttpBinding_IEcoSystemServices">
      <soap12:address location="http://202.205.84.114/EnvironmentServices_New/EcoSystemServices.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://202.205.84.114/EnvironmentServices_New/EcoSystemServices.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>