OrderManagement/Service References/MGX/MGX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MGX" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IMGX_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://202.205.84.114/MGX.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://202.205.84.114/MGX.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMGX_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IMGX_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IMGX_Model_MGX_InputMessage">
    <wsdl:part name="parameters" element="tns:Model_MGX" />
  </wsdl:message>
  <wsdl:message name="IMGX_Model_MGX_OutputMessage">
    <wsdl:part name="parameters" element="tns:Model_MGXResponse" />
  </wsdl:message>
  <wsdl:portType name="IMGX">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IMGX/Add" message="tns:IMGX_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMGX/AddResponse" message="tns:IMGX_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Model_MGX">
      <wsdl:input wsaw:Action="http://tempuri.org/IMGX/Model_MGX" message="tns:IMGX_Model_MGX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMGX/Model_MGXResponse" message="tns:IMGX_Model_MGX_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IMGX" type="tns:IMGX">
    <wsp:PolicyReference URI="#WSHttpBinding_IMGX_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IMGX/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Model_MGX">
      <soap12:operation soapAction="http://tempuri.org/IMGX/Model_MGX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MGX">
    <wsdl:port name="WSHttpBinding_IMGX" binding="tns:WSHttpBinding_IMGX">
      <soap12:address location="http://202.205.84.114/MGX.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://202.205.84.114/MGX.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>